[submodule "components/pid_regulator"]
	path = components/pid_regulator
	url = git@github.com:FranciszekJanicki/pid_regulator.git
[submodule "components/step_motor"]
	path = components/step_motor
	url = git@github.com:FranciszekJanicki/step_motor.git
[submodule "components/motor_driver"]
	path = components/motor_driver
	url = git@github.com:FranciszekJanicki/motor_driver.git
[submodule "components/a4988"]
	path = components/a4988
	url = git@github.com:FranciszekJanicki/a4988.git
